
  @import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500;900&family=Pixelify+Sans:wght@500&family=Sedgwick+Ave+Display&display=swap');
  @import 'header.css';
  @import "formstyle.css";

body{
    font-family: 'Noto Serif JP', serif;
    margin: 0;
}
html{
  scroll-behavior: smooth;
}

.fondo{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.fondo__img{
  width: 100%;
  height: auto;
  grid-column-start: 1;
  grid-column-end: 6;
  z-index: -5;

}

.nosotros{
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 5;
  border-radius: 10px;
  backdrop-filter: blur(5px) brightness(65%);
  z-index: -4;
  color: rgb(255, 255, 255);

}

.compras{
  border-width: 1px;
  border-style: solid;
  border-color: black;
  width: 35%;
  border-radius: 20px;
  position: absolute;
  top: auto;
  transform: translate(95%);
  box-shadow: inset 3em 3em 3em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}
.compras__img{

  width: 90%;
  height: auto;
  padding-top: 20px;
  padding-left: 50px;


}

.descripcion{
  padding-left: 40px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: 5px;
  background-color: rgb(218, 223, 223);
}

.comprar{
  padding-left: 43%;
  background-color: #998a6383;
  border-radius: 100px;
  margin: 2%;
}

.clientes-reseñas{
  position: absolute;
  top: 460%;
  background-color: #998a6383;
  border-radius: 100px;
  margin: 2%;
  padding-left: 5%;
  padding-right: 5%;

}

.clientes{
  position: absolute;
  top: 480%;

}

.clientes__img{
  width: 10%;
  border-radius: 100%;
  margin-left: 5%;

}

.clientes p {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  margin: 2%;
  padding: 1%;
  box-shadow:     inset 0 -3em 3em rgba(0, 0, 0, 0.1),
  0 0 0 2px rgb(255, 255, 255),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);

}


@media (max-width: 1368px){
  .clientes-reseñas{
    top: 400%;
  }

  .clientes{
    top: 420%;
  }
}

@media (max-width: 900px ){
  .clientes {
    top: 340%;
  }

  .clientes-reseñas{
    top: 320%;
  }
}


@media (max-width: 600px) {
  .nosotros{
    grid-row-start: 2;
    grid-row-end: 6;
  }

  .compras{
    font-size: 11px;
    margin: 10px;
    width: auto;
    position: relative;
    position: absolute;
    top: auto;
    transform: translate(0%);
  }

  .compras__img{

    width: 100%;
    height: auto;
    padding: 20px;

  }

  .descripcion{
    padding-left: 13px;
  }

  .comprar{
    padding-left: 35%;
  }

  .fondo__img{
    margin-top: 11%;
  }
  .clientes-reseñas{
    top: 450%;
  }

  .clientes{
    top: 460%;
  }

}

@media(max-width: 480px){
  .comprar{
    padding-left: 31%;
  }

  .fondo__img{
    margin-top: 14%;
  }

  .clientes-reseñas{
    top: 390%;
  }

  .clientes{
    top: 410%;
  }
}